<!DOCTYPE html>
<html>
	<head>
		<title>Open Data</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="leaflet/leaflet.css" />		
		<link rel="stylesheet" href="Leaflet.markercluster/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="Leaflet.markercluster/dist/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="Leaflet.markercluster/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="Leaflet.markercluster/dist/MarkerCluster.Default.css" />
		<link rel="stylesheet" href="static/styles/search_bar.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
		<script src="Leaflet.markercluster/dist/leaflet.markercluster.js"></script>
		<script src="jquery-3.6.0.min.js"></script> 
        <script type="text/javascript"></script> 
		<script src="leaflet/leaflet.js"></script>
		<script src="http://d3js.org/d3.v6.min.js"></script>
		<script src="Leaflet.markercluster/dist/leaflet.markercluster.js"></script>
		<script src="Leaflet.heat/dist/leaflet-heat.js"></script>
		<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

		<style>
		html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
		</style>
	
<body class="w3-light-grey" onload="initialize()">

	<!-- Top container -->
	<div class="w3-bar w3-top w3-black w3-large " style="z-index:4">
	  <span class="w3-bar-item w3-right" style="color: black;">X</span>
	</div>
	
	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px; " id="mySidebar"><br>
		<div class="w3-container w3-row">
			<div class="w3-col s4">
				<img src="C:/wamp/www/DataViz/S2/Cours 5/app/static/img/cultura.png"  style="width: 250px;">
			</div>
		</div>
		<hr>
		<div class="w3-container">
			<h5>Menu</h5>
		</div>

	  <div class="w3-bar-block">
	
		<a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
		
		<form action="/graph" method="POST" enctype="multipart/form-data"> 
			<a class="w3-bar-item w3-button w3-padding"><button style="border:1px solid transparent; background-color: transparent;" type="submit" name="submit" value="home"><i class="fa fa-home fa-fw"></i> Accueil</button> </a>
		</form>
	
		<form action="/graph" method="POST" enctype="multipart/form-data"> 
		  <a class="w3-bar-item w3-button w3-padding"><button style="border:1px solid transparent; background-color: transparent;" type="submit" name="submit" value="new"><i class="fa fa-plus-circle" aria-hidden="true"></i>
			Nouveau site</button> </a>
		</form>
	
		<form action="/graph" method="POST" enctype="multipart/form-data"> 
		  <a class="w3-bar-item w3-button w3-padding"><button style="border:1px solid transparent; background-color: transparent;" type="submit" name="submit" value="check"><i class="fa fa-pencil-square" aria-hidden="true"></i>
			Consultation</button> </a>
		</form>
	
		<form action="/graph" method="POST" enctype="multipart/form-data"> 
		  <a class="w3-bar-item w3-button w3-padding"><button style="border:1px solid transparent; background-color: transparent;" type="submit" name="submit" value="home"><i class="fa fa-list-alt" aria-hidden="true"></i>
			Historique des modifications</button> </a>
		</form>
	
		<form action="/graph" method="POST" enctype="multipart/form-data"> 
			<a class="w3-bar-item w3-button w3-padding"><button style="border:1px solid transparent; background-color: transparent;" type="submit" name="submit" value="home"><i class="fa fa-trash" aria-hidden="true"></i>
			  Suppression</button> </a>
		</form>
	  </div>
	</nav>
	
	
	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
	
	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left:300px;margin-top:43px;">
			<hr>
			<div class="w3-container  w3-white">
				<button  class="w3-button w3-block w3-light-green w3-left-align"><h8><B>Recherche :</B></h8></button> 	
				<div id="display_domaine" style="margin-top: 10px;">
	
				  <form action="/graph" method="POST" enctype="multipart/form-data">
					<div class="w3-row-padding" style="margin:0 -16px;">
					  <div class="w3-half w3-margin-bottom">
						<label> Quoi</label>
						<input class="w3-input w3-border" type="text" placeholder="Monument, basilique..."  name="Quoi" id="Monument">
					  </div>
			
					  <div class="w3-half">
						<label>Ou*</label>
						<input class="w3-input w3-border" type="text"  placeholder="Montpellier, Paris..." name="Type" id="Ville
						*" required>
					  </div>
					</div>
					<button class="w3-button w3-light-green w3-padding-large w3-margin-top w3-margin-bottom" type="submit" name="submit" value="Rechercher" onclick="search()" > <i class="fa fa-search w3-margin-left"></i> Rechercher</button>
				  </form>
				 <br>
			    </div>
			</div>
		<hr>
		<hr>

			<div class="w3-container map-wrapper" >
				<div id="map" class="w3-container w3-right"  style="width:1000px; height:400px ; border: 3px solid #000">				
				</div>
				<div>
					<input type="range" id="radius" name="radius"
					min="1" max="1000" step="10">
					<label for="radius">Range</label>
				</div>
			</div>

		<!-- Footer -->
		<footer class="w3-container w3-padding-16 w3-light-grey">
		<h4></h4>
		<p> .<a href="." target="_blank">.</a></p>
		
		</footer>	  
	</div>


		<script type="text/javascript">
			function initialize() {
				var map = L.map('map').setView([48.833, 2.333], 7); // LIGNE 18

				var osmLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { // LIGNE 20
					attribution: '© OpenStreetMap contributors',
					maxZoom: 19
				});

			
				map.addLayer(osmLayer); // Le layer par défaut
			}
				
				

            



			// Get the Sidebar
				var mySidebar = document.getElementById("mySidebar");

				// Get the DIV with overlay effect
				var overlayBg = document.getElementById("myOverlay");

				// Toggle between showing and hiding the sidebar, and add overlay effect
				function w3_open() {
				if (mySidebar.style.display === 'block') {
					mySidebar.style.display = 'none';
					overlayBg.style.display = "none";
				} else {
					mySidebar.style.display = 'block';
					overlayBg.style.display = "block";
				}
				}

				// Close the sidebar with the close button
				function w3_close() {
				mySidebar.style.display = "none";
				overlayBg.style.display = "none";
				}


				function search() {
					var ville = document.getElementById("ville").value 

					const url = 'localhost:3000/latlong_from_ville/'+''+ville+'/'+ document.getElementById("radius").value

					console.log(url);

					var cult = fetch(url)
									.then(response => response.json());

				}

				var slider = document.getElementById("radius");
				var output = document.getElementById("demo");
				output.innerHTML = slider.value; // Display the default slider value

				// Update the current slider value (each time you drag the slider handle)
				slider.oninput = function() {
				output.innerHTML = this.value;
				}

											
		</script>

		
	</body>
</html>
