<!DOCTYPE html>
<html>
	<head>
		<title>Open Data</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="templates/leaflet/leaflet.css" />		
		<link rel="stylesheet" href="templates/Leaflet.markercluster/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="templates/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="templates/Leaflet.markercluster/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="templates/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
		<link rel="stylesheet" href="static/styles/search_bar.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
		<script src="templates/Leaflet.markercluster/dist/leaflet.markercluster.js"></script>
		<script src="templates/jquery-3.6.0.min.js"></script> 
        <script type="text/javascript"></script> 
		<script src="templates/leaflet/leaflet.js"></script>
		<script src="http://d3js.org/d3.v6.min.js"></script>
		<script src="templates/Leaflet.markercluster/dist/leaflet.markercluster.js"></script>
		<script src="templates/Leaflet.heat/dist/leaflet-heat.js"></script>
		<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

		<style>
		html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
		</style>
	
<body class="w3-light-grey">

	<!-- Top container -->
	<div class="w3-bar w3-top w3-black w3-large " style="z-index:4">
	  <span class="w3-bar-item w3-right" style="color: black;">X</span>
	</div>
	
	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px; " id="mySidebar"><br>
		<div class="w3-container w3-row">
			<div class="w3-col s4">
				<img src="static/img/cultura.png"  style="width: 250px;">
			</div>
		</div>
		<hr>

	  <div class="w3-bar-block" id="sub-sidebar">
	  </div>
	</nav>
	
	
	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
	
	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left:300px;margin-top:43px;">
			<hr>
			<div class="w3-container  w3-white">
				<div id="display_domaine" style="margin-top: 10px;">			
					  <div class="w3-half">
						<label>Ville</label>
						<input class="w3-input w3-border" type="text"  placeholder="Montpellier, Paris..." name="Type" id="ville" required>
					  </div>
					</div>
					<button class="w3-button w3-light-green w3-padding-large w3-margin-top w3-margin-bottom" onclick="search()" > <i class="fa fa-search w3-margin-left"></i> Rechercher</button>
				 <br>
			    </div>
			    <div>
					<input type="range" id="radius" name="radius"
					min="500" max="10000" step="10">
					<label for="radius">Range</label>
				</div>
				<div class="w3-half">
					<label>Nombre de résultats par catégories</label>
					<input class="w3-input w3-border" type="text"  placeholder="500,1000,20000..." name="nbresults" id="nbresults" required>
				  </div>
				<div id="other_group_note">
					
				</div>
			</div>

				
		<hr>
		<hr>

			<div class="w3-container map-wrapper" >
				<div id="divmap" class="w3-container w3-right"  style="width:78%; height:700px ; border: 3px solid #000">				
				</div>
			</div>

		<!-- Footer -->
		<footer class="w3-container w3-padding-16 w3-light-grey">
		<h4></h4>
		<p> .<a href="." target="_blank">.</a></p>
		
		</footer>	  
	</div>


		<script type="text/javascript">
				var map = L.map('divmap'); //Création de la carte
	            map.setView([ 43.836699, 4.360054], 12);//Spécification de la latitude et de la longitude ducentre de la carte (entre crochets) et du niveau de zoom initial

	            // ajout d'une réf
	            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
	            { attribution: 'Tiles by <a href="http://mapc.org/%22%3EMAPC</a>, Data by <a href="http://mass.gov/mgis%22%3EMassGIS</a>',
	                maxZoom: 17, //Ajuster le zoom pour l'adapter
	                minZoom: 1
	             }).addTo(map);
				

			// Get the Sidebar
				var mySidebar = document.getElementById("mySidebar");

				// Get the DIV with overlay effect
				var overlayBg = document.getElementById("myOverlay");

				// Toggle between showing and hiding the sidebar, and add overlay effect
				function w3_open() {
				if (mySidebar.style.display === 'block') {
					mySidebar.style.display = 'none';
					overlayBg.style.display = "none";
				} else {
					mySidebar.style.display = 'block';
					overlayBg.style.display = "block";
				}
				}

				// Close the sidebar with the close button
				function w3_close() {
				mySidebar.style.display = "none";
				overlayBg.style.display = "none";
				}


				function search() {
				    var ville = document.getElementById("ville").value 
				    var nbresults = document.getElementById("nbresults").value
				    var r = document.getElementById("radius").value

				    const url = 'https://opendatathiziri.osc-fr1.scalingo.io/infos_from_ville/'+ville+'/'+r+'/'+nbresults
				    fetch(url)
				              .then(response => response.json()
				              .then(data => {
				                console.log(data)
								map.flyTo([data['lat'], data['long']], 14);
								var redIcon = new L.Icon({
									iconUrl: 'static/img/marker-icon-red.png'
								});

				                data['results'][0].forEach(function(o){
				                	
				                	var marker = L.marker([o['lat'], o['long']],{title: o['nom'], icon: redIcon}).on('click', showInfo.bind(null, o)).addTo(map);
				                });

				                data['results'][1].forEach(function(o){
				                	
				                	var marker = L.marker([o['lat'], o['long']],{title: o['nom']}).on('click', showInfo.bind(null, o)).addTo(map);
				                });
				              }))
				    var uppercase_city = ville.toUpperCase()
				    const other_group_info_url = "https://opendatathiziri.osc-fr1.scalingo.io/other_group_data/"+uppercase_city
				    fetch(other_group_info_url)
				    			.then(response => response.json()
				    			.then(data=>{
				    				const html_other_group_div = document.getElementById('other_group_note')
				    				html_other_group_div.innerHTML = "NOTE MOYENNE DE LA VILLE SELON LE GROUPE 'NOTE MA VILLE' : "+data['moyenne_note']
				    			}))
				    
				 
				  }
				  function showInfo(marker ,e) {
					    const sidebar = document.getElementById("sub-sidebar");
					    sidebar.innerHTML = "<div><div>Nom : "+marker['nom']+"</div><div>Adresse : "+marker['adresse']+"</div><div>Code Postal : "+marker['code_postal']+"</div><div>Departement : "+marker['departement']+"</div><div>Famille : "+marker['famille']+"</div></div><hr><div class='w3-container w3-row'><div class='w3-col'><b>AVIS :</b></div></div><hr>"

					    const url = 'https://opendatathiziri.osc-fr1.scalingo.io/get_avis/'+marker['id']
					    fetch(url).then(response => response.json()
					    		  .then(data=>{
					    		  	data.forEach(function(o){
					    		  		sidebar.innerHTML += "<div class='w3-container w3-row'><div class='w3-col'>"+o['Avis']+"</div></div><hr>"
					    		  	});
					    		  	add_input = '<div id="display_domaine" style="margin-top: 10px;"><div class="w3-half"><label>Ajouter un avis</label><input class="w3-input w3-border" type="text"  placeholder="..." name="Type" id="add_avis" required></div></div><br></div>'
					   				sidebar.innerHTML += add_input
					    		  	var inputElement = document.createElement('input');
									inputElement.type = "button"
									inputElement.className = "w3-button w3-light-green w3-padding-large margin-top w3-margin-bottom"
									inputElement.value = "AJOUTER"
									inputElement.addEventListener('click', function(){
									    add_avis(marker);
									});

									sidebar.appendChild(inputElement);
					    		  	
					    		  }))

					}

					function add_avis(marker){
						var avis = document.getElementById("add_avis").value
						var body = {'id':marker['id'], 'Avis':avis}
						const url = 'https://opendatathiziri.osc-fr1.scalingo.io/add_avis'
						fetch(url, {
							    method: 'POST',
							    body: JSON.stringify(body),
							    headers: { 'Content-Type': 'application/json' }
							}).then(showInfo(marker))
					}
											
		</script>
	</body>
</html>
